<!DOCTYPE html>
<html>
  <head>
    <title>Microservices </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
	<H1>Microservices</H1>
	<li><a href = "/api/posts/all">SHOW ALL</a></li>
	<li><a href = "/api/posts/new_post">CREATE A NEW POST</a></li>
  </body>
</html>