<!DOCTYPE html>
<html>
  <head>
    <title>New Post </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
	<form method="POST">
    		<input name="Author">
		<input name="Community">
		<input name="Title">
		<input name="Text">
    		<input type="submit">
	</form>
  </body>
</html>