<!DOCTYPE html>
<html>
  <head>
    <title>{{data[0]["community"]}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
	<H1>{{data[0]["community"]}}</H1>
	<H5><a href = "/">Home</a>	<a href = "/api/posts/all">Show All</a>		<a href = "/api/posts/new_post">New Post</a></H5>
	<table>
		{% for row in data: %}
		<tr>	
			<td><a href = "/api/posts/view?title={{row['title']}}&author={{row['author']}}&community={{row['community']}}"><H4>{{row["title"]}}</H4></a></td>
			<td><H5>&nbsp by {{row["author"]}} &nbsp</H5></td>
			<td><H5>&nbsp from <a href = "/api/posts/view_community?community={{row['community']}}">{{row["community"]}}</a> &nbsp</H5></td>
		</tr>
		{% endfor %}
	</table>
	
  </body>
</html>