<!DOCTYPE html>
<html>
  <head>
    <title>{{data["title"]}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
	<H1>{{data["title"]}}</H1>
		<H5><a href = "/">Home</a>	<a href = "/api/posts/all">Show All</a>		<a href = "/api/posts/new_post">New Post</a></H5>
	<table>
		<tr><p><H5>by {{data["author"]}} from {{data["community"]}}</H5></p></tr>
		<tr><p>{{data["text"]}}</p></tr>
	</table>
	
  </body>
</html>